:root {

--branco-pricipal: #FFFFFF;
--cinza-secundario: #C0C0C0;
--bot達o-aul: #167BF7;
--cor-de-fundo: #00030C;
--fonte-principal: 'inter';
}

body { 
    background-color: var(--cor-de-fundo);
    color: var(--branco-pricipal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.pricipal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}


.container {
    height: 100vh;
   display: grid;
   grid-template-columns: 50% 50%;
}

.container_bot達o {
    background-color: var(--bot達o-aul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-pricipal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.bot達o_secundario{
background-color: transparent;
border: 2px solid var(--branco-pricipal);
}

.container_aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}
.container_titulo{
    font-size: 28px;
    font-weight: 700;
}
.container_imagem{
    margin: 1em 0 2em 0;
}
.container_caixa{
    margin: 0 6em;
}
.secundario{

}
.secundario_imagem{

}
.container_descricao{

}
 .descricao_titulo{
    
 }
